/*==========================
    Especialidades
============================*/
#alergia {
    padding: 60px 0;
  }
  
  #alergia #alergia-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  #alergia #alergia-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    background: #1E90FF;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  #alergia #alergia-flters li:hover, #alergia #alergia-flters li.filter-active {
    background: #1b726e;
    color: #fff;
  }
  
  #alergia #alergia-flters li:last-child {
    margin-right: 0;
  }
  
  #alergia .alergia-wrap {
    // box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }
  #alergia .alergia-wrap .nombre-especialidad {
    color: #1b726e;
    margin-top: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1dc8cd;
  }
  #alergia .alergia-wrap .nombre-dr {
    color: #032446;
    margin-top: 20px;
    font-size: 25px;
  }
  #alergia .alergia-wrap .descipcion {
    color: #1b726e;
    margin-top: 0;
    font-size: 22px;
    text-align: left;
    padding-top: 20px;
    border-top: 1px solid #1dc8cd;
  }
  #alergia .alergia-wrap .descipcion p {
    margin-bottom: 5px;
  }
  #alergia .alergia-wrap .descipcion p span {
    color: #032446;
  }
  
  #alergia .alergia-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  #alergia .alergia-item {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    /* background: white; */
    border-radius: 20px;
    /* border: 3px solid #1b726e; */
    box-shadow: 0px 0px 20px rgba(66, 217, 228, 0.9);
  }
  
  #alergia .alergia-item figure {
    background: white;
    overflow: hidden;
    height: 190px;
    position: relative;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    float: left;
    box-shadow: 0px 0px 10px rgba(66, 217, 228, 0.9);
  }
  
  #alergia .alergia-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #alergia .alergia-item figure .link-preview, #alergia .alergia-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
  }
  
  #alergia .alergia-item figure .link-preview i, #alergia .alergia-item figure .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
  }
  
  #alergia .alergia-item figure .link-preview:hover, #alergia .alergia-item figure .link-details:hover {
    background: #18d26e;
  }
  
  #alergia .alergia-item figure .link-preview:hover i, #alergia .alergia-item figure .link-details:hover i {
    color: #fff;
  }
  
  #alergia .alergia-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  #alergia .alergia-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  #alergia .alergia-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
  }
  
  #alergia .alergia-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
  }
  
  #alergia .alergia-item .alergia-info {
    background: #1dc8cd;
    text-align: center;
    padding: 10px;
    height: 260px;
    border-radius: 0 0 3px 3px;
  }
  
  #alergia .alergia-item .alergia-info h4 {
    font-size: 20px;
    line-height: 1px;
    font-weight: 700;
    margin: 30px 0 10px 0;
    padding-bottom: 10px;
    color: white;
  }
  #alergia .alergia-item .alergia-info .nombre-dr {
      color: #032446;
  }
  
  #alergia .alergia-item .alergia-info h4 a {
    color: #1b726e;
  }
  
  #alergia .alergia-item .alergia-info h4 a:hover {
    color: #18d26e;
  }
  
  #alergia .alergia-item .alergia-info p {
    padding: 0px;
    margin: 0;
    color: rgb(3, 36, 70);
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
    text-align: justify;
  }

  /*--------------------------------------------------------------
  # Media Querys
  --------------------------------------------------------------*/
  @media (max-width: 1280px) {
    #portfolio {
      padding: 0px 0;
    }
    // #main {
    //   height: 1900px
    // }
    #portfolio .portfolio-item .portfolio-info {
      height: 200px;
    }
    #portfolio #portfolio-flters li {
      margin: 10px 10px 0 0;
    }
  }
  @media (max-width: 1199px) {
    #portfolio .portfolio-item .portfolio-info {
    height: 210px;
    }
    #features {
    padding: 0;
    }
    #portfolio #portfolio-flters li {
      margin: 5px 5px 5px 0;
    }
    #portfolio .portfolio-item figure {
      height: 195px;
    }
    #main {
    height: 1800px;
    }
  }
  @media (max-width: 991px) {
    #intro img {
    margin: 60px 40px 10px 0;
    }
    #portfolio {
    padding: 0;
    height: 1890px;
    }
    #main {
        height: 2500px
    }
    #portfolio .portfolio-item .portfolio-info {
    height: 190px;
    }
    #main {
    height: 2250px;
    }
  }
  @media (max-width: 767px) {
    #intro img {
    margin: 70px 40px 10px 0;
    }
    #intro .intro-text .slogan {
    margin-top: 70px;
    }
    #intro .intro-text .slogan {
    line-height: 40px;
    }
    #intro p {
    padding: 0 20px 0 0;
    }
    .container {
    max-width: 98%;
    }
    #intro {
    height: 30vh;
    }
    #portfolio .portfolio-item figure {
    height: 232px;
    }
    #main {
    height: 2390px;
    }
  }
  @media (max-width: 575px) {
    #intro .intro-text .slogan {
    font-size: 18px;
    }
    #about {
    padding: 20px 0;
    }
    #portfolio #portfolio-flters {
    margin: 0;
    }
    #portfolio .portfolio-item .portfolio-info {
        height: 150px;
    }
    #main {
        height: 3800px;
    }
    #intro .intro-text .slogan {
    line-height: 30px;
    }
    #intro {
    height: 20vh;
    }
    #intro img {
    margin: 40px 40px 10px 0;
    }
    #intro .intro-text .slogan {
    margin-top: 40px;
    }
  }
  @media (max-width: 320px) {
    #intro {
    height: 30vh;
    }
    #intro img {
    margin: 40px 40px 10px 0;
    }
    #portfolio #portfolio-flters li {
    margin: 2px 0px;
    }
    #portfolio .portfolio-item figure {
    height: 190px;
    }
    #portfolio .portfolio-item .portfolio-info {
    height: 210px;
    }
    #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    }
    .container {
    width: 95%;
    padding-right: 10px;
    padding-left: 10px;
    }
    #portfolio #portfolio-flters li {
    padding: 10px 10px;
    }
    .section-header .section-divider {
    height: 0px;
    }
    #portfolio .portfolio-item .portfolio-info p {
    font-size: 15px;
    }
    #portfolio .portfolio-item .portfolio-info {
    height: 180px;
    }
    #main {
    height: 3600px;
    }
}