/* Nuestros Servicios
  --------------------------------*/
  #features {
    background-image: radial-gradient(circle, white, #08908a);
    padding: 20px 0 0 0;
    overflow: hidden;
  }
  
  #features .features-img {
    text-align: center;
    padding-top: 20px;
  }
  
  @media (min-width: 769px) {
    #features .features-img {
      padding-top: 120px; 
      margin-top: -200px;
    }
  }
  @media (max-width: 991px) {
    #features .features-img img {
      margin-top: 100px;
    }
  }
  #features .features-img img {
    max-width: 100%;
  }
  
  #features .box {
    margin-bottom: 15px;
    text-align: center;
  }
  
  #features .icon {
    margin-bottom: 10px;
  }
  
  #features .icon i {
    color: #666666;
    font-size: 40px;
    transition: 0.5s;
  }
  
  #features .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #features .title {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  #features .title a {
    color: #111;
  }
  
  #features .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  #more-features .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  #features .section-description {
    padding-bottom: 10px;
  }

  ul.lista-invitados li {
    padding: 10px;
    float: left;
}
@media only screen and (min-width: 320px) {
  ul.lista-invitados li {
      width: 50%;
      font-size: 12px;      
  }
}
@media only screen and (min-width: 480px) {
    ul.lista-invitados li {
        width: 50%;
        font-size: 14px;    
    }
}
@media only screen and (min-width: 767px) {
    ul.lista-invitados li {
        width: 33.3%;
        font-size: 0.8em;        
    }
}
div.invitado {
    position: relative;
    overflow: hidden;
}
div.invitado img{
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(0);
    transition: all .5s ease-in-out;
}
div.invitado:hover img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
div.invitado p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #1dc8cd;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}
.contenedor {
  width: 98%;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .contenedor {
      width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .contenedor {
      width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .contenedor {
      width: 90%;
      max-width: 1100px;
  }
}
.seccion {
  padding: 30px 0;
}
.seccion p {
  font-size: 1.2em;
  text-align: center;
}
/* Portfolio Section
--------------------------------*/
#portfolio {
  padding: 60px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 20px;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  background: #1E90FF;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
  background: #1b726e;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative; 
  overflow: hidden;
  margin-top: 20px;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 234px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
  background: #18d26e;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
  background: rgb(230, 238, 201);
  text-align: center;
  padding: 10px;
  height: 170px;
  border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 20px;
  line-height: 1px;
  font-weight: 700;
  margin: 20px 0 10px 0;
  padding-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info h4 a {
  color: #1b726e;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #18d26e;
}

#portfolio .portfolio-item .portfolio-info p {
  padding: 0px;
  margin: 0;
  color: rgb(3, 36, 70);
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  text-align: justify;
}